@import "tailwindcss";
@plugin "tailwindcss-motion";

:root {
  font-family: Saira Extra Condensed, system-ui, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  color: #000000;
  background: radial-gradient(
    circle,
    rgba(21, 25, 28, 1) 0%,
    rgba(182, 195, 202, 1) 50%,
    rgba(21, 25, 28, 1) 100%
  );
  background-attachment: fixed;
}

button {
  border-radius: 99px;
  border: 1px solid transparent;
  padding: 5px 15px;
  font-weight: 500;
  cursor: pointer;
}
button:active {
  scale: 0.98;
}

li {
  font-size: 20px;
  cursor: pointer;
}

@media only screen and (max-width: 1200px) {
  body {
    background-color: #f54900;
  }
}
