@import "tailwindcss";
@plugin "tailwindcss-motion";

:root {
  font-family: Saira Extra Condensed, system-ui, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: black;
  background-color: #f1f1f1;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  margin: 0;
  padding: 0;
}

button {
  border-radius: 99px;
  border: 1px solid transparent;
  padding: 5px 15px;
  font-weight: 500;
  cursor: pointer;
  transition: ease-in;
  transition-duration: 0.4s;
}
button:active {
  scale: 0.98;
}
